@use "reset" as *;
// @import "_reset.scss";

@use "setting" as *;
// @import "_setting.scss";

// Settingファイルの補助定義
////////////////////////////////////
// mixin定義 For deploying purpose
$breakpoints: ('s': 'screen and (max-width:480px)',
  'm': 'screen and (max-width: 767px) and (min-width:480px)',
  // 'l': 'screen and (max-width: 1080px) and (min-width: 768px)',
  'l': 'screen and (max-width: 1079px) and (min-width: 768px)',
  'xl': 'screen and (min-width: 1080px) ',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//////////////////////////////////////

// Dark MOde 
// @media (prefers-color-scheme: dark) {
//   body {
//     background-color: black;
//     color: white;
//   }
// }

// html {
//   overflow: hidden scroll; // To prevent scroll horizontally
// }

// body {
//   scroll-behavior: smooth;
//   overflow-x: hidden;
//   margin: 0;
//   font-family: YakuHanMPs_Noto, "Noto Serif JP", 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, Meiryo,
//     serif;
// }






#CalendarEntire {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #FFFCFF;
}

#CalendarWrap {
  width: 770px;

  &__header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;

    button {
      background-color:#92a1d1;
      width: 75px;
      cursor: pointer;
      box-shadow: 0px 0px 2px gray;
      border: none;
      outline: none;
      padding: 5px;
      border-radius: 5px;
      color: white;
    }
  }
}

#weekdays {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #247BA0;
  text-align: center;

  div {
    width: 100px;
    padding: 10px;
  }
}

// 1日毎のカレンダー
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      background-color: #e8faed;
    }

    &#currentDay {
      background-color:#e8f4fa;
    }
  }
}

// jsで付与されたクラス
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}


#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;

  &__title {
    margin-bottom: 8px;
    color: rgb(43, 43, 43);
  }
}

#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;

  &.error {
    border: 2px solid red;
  }
}

#cancelButton, #deleteButton {
  background-color: #d36c6c;
    width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#eventText {
  font-size: 0.9rem;
  margin: 8px 0;
  line-height: 1.2rem;
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}