/* Val---------------------------------------------- */

$ff: "YakuHanJPs","Lato","Custom Yu Gothic","游ゴシック","Yu Gothic",YuGothic,Hiragino Sans,"Meiryo",Hiragino Kaku Gothic ProN,sans-serif

//  "UD Shin Go Regular", "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
// $mincho: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif
;
$din-bi: 'din-bi';
$din-cb: 'din-cb';
$din-bl: 'din-bl';
$din-b: 'din-b';
$din-m: 'din-m';
$din-cm: 'din-cm';
$ud-m: "UD Shin Go Medium";
$ud-db: "UD Shin Go DemiBold";
$ud-b: "UD Shin Go Bold";

/*カラーテーマ-------------------------------------------*/
$base:#000;
$secondary_base : #ff0012;
$accent : #ffee00;

/* Mixin---------------------------------------------- */

// $w-s: 480;
// $w-m: 785;
// $w-l: 1080;
// $w-xl: 1280;


// $breakpoints: (
//   's': 'screen and (max-width:'+ $w-s +'px)',
//   'm': 'screen and (max-width:'+ $w-m +'px)',
//   'l': 'screen and (max-width:'+ $w-l +'px)',
//   'xl': 'screen and (max-width:'+ $w-xl +'px)',
// ) !default;


$breakpoints: (
  's': 'screen and (max-width:480px)',
  'm': 'screen and (max-width: 767px) and (min-width:480px)',
  // 'l': 'screen and (max-width: 1080px) and (min-width: 768px)',
  'l': 'screen and (min-width: 768px)',
  'xl': 'screen and (max-width: 1280px) and (min-width: 1080px) ',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
// 例
// @include mq(l) { // 引数を個別に指定
//     color: red;
//   }
@include mq(s) { 

  }
@include mq(m) { 

  }


/* Common---------------------------------------------- */
// common
body{
  font-family: $ff;
  font-size: 14px;
  // font-feature-settings: "palt";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $base;

  @include mq(xl) {
      color: $base;
  }
  @include mq(l) {
      color: $base;
  }
  @include mq(m) {
    font-size: to-vw(13,375);
  }
  @include mq(s) {
  }
}

a{
  text-decoration: none;
  color: $base;
  &:hover{
    opacity: .8;
    transition: all .6s ease;
  }
}

img{
  max-width: 100%;
}
li{
  list-style: none;
}
h1,h2,h3,h4,h5{
  font-weight: normal;
}
input[type="submit"],
input[type="button"] {
  appearance: button;
  border: none;
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
}
input[type="text"],input[type="email"],select,textarea{
  padding:.25em .5em;
  font-size: 15px;
  width: 100%;
  @include mq(m){
    font-size: 16px;
    // transform: scale(0.9);
  }
}
select{
  font-family: system-ui;
}
textarea{
  @include mq(m){
    min-height: 30vw;
    width: 100%;
  }
}
.is{
  &-pc{
    @include mq(m) {
      display: none;
    }
  }
  &-sp{
    display: none;
    @include mq(m) {
      display: block;
    }
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}
%inner{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  @include mq(l) {
    width: 98%;
  }
}
.inner{
  max-width: 1000px;
  @extend %inner;
  &-wide{
    max-width: 1150px;
    @extend %inner;
  }
  &-narrow{
    max-width: 820px;
    @extend %inner;
  }
}




//-------------------------------------


.about--active {
  -webkit-text-fill-color: rgb(173, 202, 255);
}

.aboutBg {
  margin-top: 60px;

  // Mask effect
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 100vw;
  height: 100vh;
  position: relative;
  @include mq(s) {
    margin-top: 28px;
  }
  @media (min-width: 2000px) {
    height: 70vh;
  }
  .videoBg {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    object-fit: fill;
    z-index: -1;
    @media (min-width: 2000px) {
      height: 70vh;
    }
  }

  .bgContents {
    width: 82vw;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
    @include mq(s) {
    }
    @include mq(m) {
    }

    &__selfie {
      text-align: center;
      margin: auto;
    }
    &__selfieImg {
      width: 140px;
      border-radius: 50%;
      @include mq(s) {
        width: 100px;
      }
      @include mq(m) {
        width: 120px;
      }
    }
    &__block {
    height: 100%;
    }
    &__title {
      text-align: center;
      font-size: 30px;
      margin: 16px 0;
      @include mq(s) {
        font-size: 18px;
        margin: 16px 0;
      }
      @include mq(m) {
        font-size: 28px;
        margin: 16px 0;
      }
    }

    &__message {
      position: relative;
      color: rgb(51, 51, 51);
      font-size: 24px;
      line-height: 40px;
      width: 65vw;
      margin: 0 auto;
      margin-top: 8px;
      padding: 20px 8px;
      overflow-y: scroll;
      -moz-overflow-y: scroll;
      -webkit-overflow-y: scroll;
      -moz-overflow-y: scroll;
      height: inherit;

      @include mq(s) {
        font-size: 17px;
        width: 85vw;
        line-height: 30px;
        height: 110%;
      }
      @include mq(m) {
        font-size: 20px;
        width: 85vw;
        line-height: 30px;
      }
      @include mq(l) {
        font-size: 20px;
        width: 85vw;
        line-height: 30px;
      }
      @media (min-width: 1200px) {
        font-size: 24px;
        width: 85vw;
        line-height: 36px;
      }
      // 高さ対応（SP 横向き）
      @media screen and (max-height: 400px){
        height: 70%!important;
      }
    }
  }
}

.about__footer {
  margin: 0;
  margin-top: -4px;
  padding-top: 40px;
  &--cats {
text-align: center;
  }
  &--cat {
    border-radius: 10px;
    width:200px;
     background-color: rgba(255, 255, 255, 0.8);
     @include mq(s) {
    width: 140px;
    }
  }
}










